<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Partner Commision Agent</h2>
        <h3 class="oe_slogan">Set Commission % on Partner</h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <!--<img src="icon.png">-->
        </div>
    </div>
</section>